.key-line {
    display: flex;
    justify-content: center;
}

.key-board {
    border: solid 0.2rem burlywood;
    border-radius: 2rem;
    padding: 1.2rem;
    z-index: 2;
    background-color: rgb(8, 18, 19);
}