.App-container {
  background: #206e81;
  color: rgb(43, 5, 18);
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App-content {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  caret: none;
  caret-color: transparent;
  background: transparent;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
  position: relative;
}

.App-title {
  font-size: calc(20px + 6vmin);
}

.Key-Board-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
