.key-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: solid 0.1px rgb(16, 134, 24);
    height: 4rem;
    width: 4rem;
    background-color: rgb(15, 35, 92);
    margin: 0.2rem;

    span {
        font-size: 1.2rem;
        line-height: 1.2rem;
        height: 1.2rem;
        text-transform: uppercase;
        text-align:center;
        vertical-align: middle;
    }
}

.key-size-1 {
    width: 1rem;
}

.key-size-2 {
    width: 2rem;
}

.key-size-3 {
    width: 3rem;
}

.key-size-4 {
    width: 4rem !important
}

.key-size-5 {
    width: 5rem !important
}

.key-size-6 {
    width: 6rem !important
}

.key-size-7 {
    width: 7rem !important
}

.key-size-8 {
    width: 8rem !important
}

.key-size-9 {
    width: 9rem !important
}

.key-size-10 {
    width: 10rem !important
}

.key-size-11 {
    width: 11rem !important
}

.key-size-12 {
    width: 12rem !important
}

.key-size-13 {
    width: 13rem !important
}

.key-size-14 {
    width: 14rem !important
}

.key-size-15 {
    width: 15rem !important
}

.key-size-16 {
    width: 16rem !important
}

.key-size-17 {
    width: 17rem !important
}

.key-size-18 {
    width: 18rem !important
}

.key-size-19 {
    width: 19rem !important
}

.key-size-20 {
    width: 20rem !important
}

.key-size-21 {
    width: 21rem !important
}

.key-size-22 {
    width: 22rem !important
}

.key-size-23 {
    width: 23rem !important
}

.key-size-24 {
    width: 24rem !important
}

.key-color-1 {
    background-color: aquamarine;
}

.key-color-2 {
    background-color: rgb(10, 169, 243);
}

.key-color-3 {
    background-color: rgb(77, 32, 241);
}

.key-color-4 {
    background-color: rgb(65, 5, 25);
}

.key-color-5 {
    background-color: rgb(100, 146, 13);
}